header {
    background-color: #344051;
    padding: 10.28em 0;
}
.topbar{
    height: .5em;
    background-color: #118BC0;
    padding: 2em 0.7em;
    margin-top: -11.8em;
    width: 75%;
    overflow: hidden;
}
.logo {
    width: 10%;
    background-color: #FFF;
    height: 2em;
    float: left;
}
.site-name {
    width: 30%;
    background-color: #FFF;
    height: 2em;
    margin-left: 1em;
    float: left;
}
.log-in {
    background-color: #0070A4;
    padding: 1.5em 0em;
    margin-top: -3em;
    float: right;
    width: 25%;
}
header h1 {
	text-align: center;
    color: white;
    margin-top: 5em;
}
header h3 {
	text-align: center;
    width: 18em;
    color: white;
    margin: 1em auto;
}
.create {
	background-color: #118BC0;
    border: .5em solid black;
    height: .1em;
    width: 18.75em;
    padding: 1.394em;
    margin: 4em auto;
    box-sizing: border-box;
}
.crowd {
	background-color: white;
    height: .1em;
    width: 2em;
    padding: 0.45em;
    margin: 14em auto 8em auto;
}
.mainlinks > div {
    background-color: white;
    /* height: 2.1em; */
    width: 20em;
    padding: 0em 0em;
    margin: 4em auto;
    overflow: hidden;
}
.icon {
    width: 22%;
    background-color: #616E7F;
    height: 4em;
    float: left;
    margin-top: 1em;
}
.direct {
    width: 73%;
    background-color: #616E7F;
    height: 4em;
    float: right;
    margin-bottom: 1em;
    margin-right: 0.2em;
}
.midsection {
	background-color: #E8F0F5;
	height: 1em;
	padding: 6.57em;
}
.outerbox {
	background-color: #D1D3D7;
    padding: 1px 1em;
}
.outerbox div div {
    background-color: #FFFFFF;
    padding: 1em;
    margin: 2em 0;
}
.square {
    background-color: #D1D3D7;
    height: 3em;
    margin: 1em 9em;
}
.thin-line {
    background-color: #D1D3D7;
    height: 1.5em;
    margin: 1em 0em;
}
.thick-line {
    background-color: #D1D3D7;
    height: 3em;
    margin: 0 0em;
}
.midsection div {
	background-color: #118BC0;
    padding: 2.3em;
    margin: auto;
}
footer {
	background-color: black;
    padding: 2em;
    color: white;
    text-align: center;
    font-size: .7em;
}
.navigations ul {
    margin-left: -3.6em;
}
.navigations li {
	margin: .7em;
    display: inline;
}
.bottombox {
	background-color: #FFFFFF;
    padding: 1em;
    margin: 2em 40%;
}

